// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;
$dark      : #1D1D1D;
$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$major-color: #98C1D9;
$minor-color: #c3dbe9;
$major-bgColor: #f5f5f5;
$minor-bgColor: #E0FBFC;
$major-font-color: #3D5A80;
$minor-font-color: #5A7FAF;
// $text-color: #424242;
$text-color: #293241;
$menu-bgColor: #e0e0e0;
$focusColor: #EE6C4D;
// $footerColor: #4F607D;

// $productImgUrl: (
//   三合一除濕熱泵設備: url('src/assets/product images/multifunctional heat pump (with dehumidifying function).png') no-repeat 90% center / 30% 50%
// );

// $imgUrl: url('src/assets/product images/multifunctional heat pump (with dehumidifying function).png') no-repeat 90% center / 30% 50%;
